{% extends "base.html" %}
{% block nav %}
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Muscade</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search" action="{{ url_for('search') }}">
                <div class="form-group">
                    <input type="text" class="form-control" name="s" placeholder="Recherche">
                </div>
                <button type="submit" class="btn btn-primary glyphicon glyphicon-search"></button>
            </form>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('list') }}">Liste</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for category_tuple in categories %}
                            <li><a href="{{ url_for('by_category', category_id=category_tuple[0]) }}">{{ category_tuple[1] }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}

</body>
