{% extends "base.html" %}
{% block content %}
<div class='page-header'>
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="add/" class='btn btn-success'>Ajouter</a>
        </div>
    </div>
    <h1>Liste des recettes</h1>
</div>
<table id="table_list" class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
    <tr>
        <td><a href="{{ recipe.id }}/">{{ recipe.name }}</a></td>
        <td>{{ recipe.category_name() }}</td>

        <td>
            {% for i in range(0, recipe.rating//2) %}
                <span class="star-icon full">☆</span>
            {% endfor %}
            {% if recipe.rating % 2 %}
                <span class="star-icon half">☆</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
        $(document).ready( function () {
            $('#table_list').DataTable( {
                "dom" : 'itp',
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/French.json"
                }
            });
        } );

</script>
{% endblock %}