{% extends "base_nav.html" %}
{% block content %}
<div class="container">
    <div class='page-header'>
        <div class='btn-toolbar pull-right' style="margin-top:30px;">
            <div class='btn-group'>
                <a href="{{ url_for('view_multiple', ids=ids) }}" class='btn btn-primary'><span class="glyphicon glyphicon-th-list"></span></a>
            </div>
            <div class='btn-group'>
                <a href="{{ url_for('edit_recipe') }}" class='btn btn-success'><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>
        </div>
        <h1>{% if header_suffix %} {{ header_suffix }} {% else %} Liste des recettes {% endif %}</h1>
    </div>
    <table id="table_list" class="table">
        <thead>
        <tr>
            <th>Nom</th>
            {% if show_category %}<th>Catégorie</th> {% endif %}
            {% if show_source %}<th>Source</th> {% endif %}
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
        <tr>
            <td><a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}">{{ recipe.name }}</a></td>
            {% if show_category %}<td>{{ recipe.category_name() }}</td> {% endif %}
            {% if show_source %}<td>{{ recipe.source }}</td> {% endif %}
            <td>
                <span style="white-space: nowrap;">
                {% for i in range(0, recipe.rating//2) %}
                    <span class="star-icon full">☆</span>
                {% endfor %}
                {% if recipe.rating % 2 %}
                    <span class="star-icon half">☆</span>
                {% endif %}
                </span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
            $(document).ready( function () {
                $('#table_list').DataTable( {
                    "dom" : 'ftp',
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/French.json"
                    }
                });
            } );

    </script>
</div>
{% endblock %}